
    ol.bowl-games-list {
        /* style for mobile devices */
        @media screen and (max-width: 800px) {
            list-style: none;
            padding: 0;
            margin: 0;
        }


    }

