section.bowl-list {
    > ol {
        /* style for mobile devices */
        @media screen and (max-width: 800px) {
            list-style: none;
            padding: 0;
            margin: 0;
        }

        li {
            /*display: grid;*/
            grid-template-columns: auto 1fr;

            article {
                padding: 1rem;
                margin: 1rem;
                background-color: rgba(0, 0, 0, 0.4);

                display: grid;
                grid-template-columns: auto auto 1fr;
                border-radius: 0.5rem;
                gap: 1rem;

                header {
                    grid-column: 1 / -1;
                    margin-bottom: 1rem;

                    h2 {
                        margin: 0;
                    }
                    span {
                        font-size: 0.7rem;
                        color: #ffeb3b;
                    }
                }

                .bowl-details {
                    display: grid;
                    gap: 0.5rem;
                    grid-column: 1/ -2;
                    grid-template-columns: subgrid;

                    > div {
                        display: grid;
                        grid-template-columns: subgrid;
                        grid-column: 1 / -1;

                        p {
                            margin: 0;
                        }
                    }

                    .matchup {
                        display: grid;
                        grid-column: 1 / -1;
                        grid-template-columns: auto auto auto;
                        align-items: center;
                        width: 500px;

                        dt {
                            grid-column: 1 / -1;
                            text-align: start;
                            margin-bottom: 8px;
                        }

                        dd {
                            display: flex;
                            justify-content: center;

                            /* styles for mobile devices */
                            @media screen and (max-width: 800px) {
                                margin: 0;
                                padding: 0;
                                font-size: 0.8rem;
                            }
                        }

                        .logo {
                            width: 86px;
                            aspect-ratio: 1;
                        }

                        /* styles for mobile devices */
                        @media screen and (max-width: 800px) {
                            width: unset;
                        }
                    }
                }

                ul li {
                    &[data-winner="true"] {
                        font-weight: bold;
                        color: #4caf50; /* Green for correct pick */
                    }
                    &[data-winner="false"] {
                        color: #9e9e9e; /* Gray for incorrect pick */
                    }
                }

                /* styles for mobile devices */
                @media screen and (max-width: 800px) {
                    grid-template-columns: unset;

                    & > * {
                        grid-column: unset !important;
                    }

                    div:has(ul) {
                        font-size: 0.8rem;

                        ul {
                          padding-left: 1rem;
                        }
                    }
                }
            }
        }
    }
}
