section.collapse-panel {
    display: flex;
    flex-direction: column;
    border: 3px solid rgba(255, 255, 255, 0.2);
    border-radius: 5px;

  > label {
    background-color: rgba(255, 255, 255, 0.3);
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    font-weight: 700;
    cursor: pointer;

    svg {
      transition: transform 0.3s ease-in-out;
    }
  }

  &:has(> menu[data-open="true"]) {
    label svg {
      transform: rotate(-90deg);
    }
  }

  > menu {
    display: grid;
    grid-template-rows: 0fr;
    transition: all 0.5s ease-in-out;
    list-style-type: none;
    padding: 0;
    margin: 0;

    &[data-open="true"] {
      grid-template-rows: 1fr; /* 5 */
    }

    > ul {
      overflow: hidden; /* 4 */
      display: flex;
      flex-direction: column;
      margin: 0;
      padding: 0;

      > li {
        list-style: none;
        margin: 0;
      }
    }
  }
}
